* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #303080;
}
.main-wrapper {
}

/* HEADER */

.home-wrapper {
  background-color: #fff3e4;
  padding: 30px 7% 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo-text {
  font-size: 20px;
  font-weight: 600;
  margin-left: -30px;
}

/* NAVIGATION */

.navbar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.nav li {
  color: #30304d;
  font-size: 14px;
  cursor: pointer;
}

/* HEADER BUTTONS */

.btn {
  display: flex;
  gap: 20px;
}

.btn button {
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn-1 {
  background-color: white;
  color: #555;
  font-size: 1rem;
  font-weight: 400;
}

.btn-2 {
  background-color: #ff9500;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

/* HERO */

.hero {
  position: relative;
  background-color: #fff3e4;
  min-height: 590px;
  padding: 100px 7% 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 0 0 50% 50% / 0 0 12% 12%;
}

/* HERO CONTENT */

.hero-content {
  width: 48%;
  z-index: 3;
  margin-top: -200px;
}

.hero-content h1 {
  font-size: 45px;
  line-height: 1.1;
  color: #303080;
  max-width: 500px;
}

.hero-content h1 span {
  color: #ff9500;
}

/* DESCRIPTION */

.hero-content p {
  margin-top: 25px;
  line-height: 1.5;
  color: #555;
  max-width: 400px;
}

/* HERO BUTTONS */

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.hero-buttons button {
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* JOIN FOR FREE */

.hero-buttons button:first-child {
  padding: 15px 25px;
  background-color: #ff9500;
  color: white;
  font-size: 15px;
}

/* PLAY BUTTON */

.watch {
  width: 50px;
  height: 50px;
  background-color: white;
  color: #20aee5;
  font-size: 18px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
}

/* WATCH TEXT */

.hero-buttons span {
  color: #30304d;
  font-size: 15px;
}

/* RIGHT SIDE */

.box {
  position: absolute;
  right: 9%;
  bottom: 0;
  width: 550px;
  height: 520px;
}

/* GIRL IMAGE */

.hero-image {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 430px;
  z-index: 2;
}

.hero-image img {
  display: block;
  width: 100%;
  height: auto;
}

/* 250K STUDENT CARD */

.small-box1 {
  position: absolute;
  left: -60px;
  top: 100px;
  z-index: 4;
}

/* CARD */

.student-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  width: 180px;
  height: 62px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 90px;
}

/* ICON */

.student-box img {
  width: 30px;
  height: auto;
}

/* NUMBER */

.student-box strong {
  font-size: 14px;
  color: #555;
}

/* TEXT */

.student-box p {
  font-size: 12px;
  color: #666;
  margin-top: 3px;
}

/* USER EXPERIENCE CARD */

.user-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  width: 235px;
  height: 112px;
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 140px;
  margin-left: 55px;
}

/* USER IMAGE */

.user-box img {
  width: 35px;
  height: 35px;
}

/* USER TITLE */

.user-box strong {
  font-size: 14px;
  color: #555;
}

/* USER TIME */

.user-box p {
  font-size: 12px;
  color: #666;
  margin-top: 3px;
}

/* JOIN NOW BUTTON */

.user-box button {
  padding: 8px 30px;
  border: none;
  border-radius: 25px;
  background-color: #d8587e;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

/* CONGRATULATIONS CARD */

.small-box2 {
  position: absolute;
  right: -70px;
  top: 215px;
  z-index: 4;
}

/* CARD */

.congratulations-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  width: 220px;
  height: 67px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
  margin-right: 50px;
}

/* EMAIL ICON */

.congratulations-box img {
  width: 32px;
  height: auto;
}

/* TITLE */

.congratulations-box strong {
  font-size: 14px;
  color: #555;
}

/* DESCRIPTION */

.congratulations-box p {
  font-size: 11px;
  color: #666;
  margin-top: 3px;
}

/* PINK CHART ICON */

.icon {
  margin-top: -140px;
}

/* Career section */
/*  */
.wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 28px 8% 70px;
  text-align: center;
}

.row-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.row-1 > p {
  font-size: 15px;
  color: #606080;
  margin-bottom: 18px;
}

/* COMPANY LOGOS */

.row-1 > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}

/* LOGO IMAGES */

.row-1 img {
  max-width: 100px;
  max-height: 35px;
}

.row-2 {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADING */

.row-2 h5 {
  font-size: 20px;
  color: #303080;
  font-weight: 700;
  margin-bottom: 18px;
}

.row-2 h5 span {
  color: #ff9500;
}

/* DESCRIPTION */

.row-2 p {
  max-width: 410px;
  font-size: 13px;
  line-height: 1.6;
  color: #666685;
}

.row-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 750px;
  margin: 82px auto 0;
}

/* ICONS */

.row-3 img {
  width: 52px;
  height: 52px;
  justify-self: center;
  position: relative;
  z-index: 2;
}

.row-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 750px;
  margin: -25px auto 0;
}

/* INDIVIDUAL CARD */

.row-4 > div {
  min-height: 215px;
  padding: 65px 25px 25px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(45, 45, 100, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CARD HEADING */

.row-4 h5 {
  max-width: 210px;
  font-size: 16px;
  line-height: 1.4;
  color: #303080;
  font-weight: 500;
  margin-bottom: 15px;
}

/* CARD DESCRIPTION */

.row-4 p {
  max-width: 205px;
  font-size: 11px;
  line-height: 1.7;
  color: #666685;
}
.career-section {
  margin-top: 25px;
}
.blog-wrapper {
    width: 100%;
    padding: 30px 8%;
}

/* blog section */
/* FIRST ROW */

.blog-row-1 {
    text-align: center;
}

.ro1-content h4 {
    font-size: 23px;
    margin-bottom: 15px;
     span{
      color: #F5A134;
    }
}

.ro1-content p {
    width: 550px;
    max-width: 100%;
    margin: auto;
    line-height: 1.6;
    color: #666;
    font-size: 13px;
}


/* TOP IMAGES */

.blog-row-1 > div:nth-child(2) {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.blog-row-1 > div:nth-child(2) > div {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.blog-row-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* TEXT ON IMAGES */

.blog-row-1 strong {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    color: white;
    z-index: 2;
    font-size: 15px;
}


/* BUTTONS ON IMAGES */

.blog-row-1 .r-btn {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    border: 1px solid white;
    border-radius: 25px;
    background: transparent;
    color: white;
    z-index: 2;
    
}

.blog-row-1 > div:nth-child(2) > div:nth-child(2) button {
    background: #20aee5;
    border: none;
   
}


/* SECOND ROW */

.blog-row-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 50px;

    margin-top: 80px;
}


/* LEFT SIDE */

.blog-row-2 > div:first-child {
    width: 45%;
}

.blog-row-2 strong {
    font-size: 20px;
    line-height: 1.5;
    span{
      color: #F5A134;
    }
}

.blog-row-2 p {
    margin-top: 15px;
    line-height: 1.7;
    font-size: 13px;
    color: #666;
}


/* RIGHT IMAGE */

.blog-row-2 > div:last-child {
    width: 50%;
}

.blog-row-2  img {
    width: 100%;
    height: 245px;
    border-radius: 10px;
}




/* ABOUT SECTION */

.about {
  width: 100%;
  padding: 30px 10%;
  span{
    color: orange;
  }
}

/* FIRST ROW */

.about-row-1 {
  text-align: center;
}

.about-row-1 h5 {
  font-size: 20px;
  margin-bottom: 18px;
}

.about-row-1 p {
  color: #666;
  font-size: 13px;
}

/* SECOND ROW */

.about-row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 85px;
  gap: 60px;
}

/* LEFT IMAGE */

.col-1 {
  width: 55%;
}

.col-1 img {
  width: 100%;
  height: auto;
}

/* RIGHT CONTENT */

.col-2 {
  width: 45%;
}

.col-2 h4 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 25px;
}

/* FEATURES */

.about-row2-col2,
.about-row2-col3,
.about-row2-col4 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

/* ICON */

.about-row2-col2 img,
.about-row2-col3 img,
.about-row2-col4 img {
  width: 45px;
  height: 45px;
}

/* TEXT */

.about-row2-col2 p,
.about-row2-col3 p,
.about-row2-col4 p {
  color: #666;
  font-size: 13px;
  line-height: 1.7;
}

.about-row-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 80px;
  gap: 60px;
}

/* LEFT TEXT */

.about-row-3-col-1 {
  width: 45%;
}

.about-row-3-col-1 h4 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.about-row-3-col-1 p {
  color: #666;
  font-size: 13px;
  line-height: 1.7;
}

/* RIGHT IMAGE */

.about-row-3-col-2 {
  width: 50%;
}

.about-row-3-col-2 img {
  width: 100%;
  height: auto;
}
/* 
   ROW 4
*/

.about-row-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 80px;
    gap: 60px;
}

.about-row-4-col-1 {
    width: 50%;
}

.about-row-4-col-1 img {
    width: 100%;
    height: auto;
}

.about-row-4-col-2 {
    width: 45%;
}

.about-row-4-col-2 h4 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.about-row-4-col-2 h4 span {
    color: #F5A134;
}

.about-row-4-col-2 p {
    font-size: 13px;
    line-height: 1.7;
    color: #666;
}


/*
   ROW 5
 */

.about-row-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 80px;
    gap: 60px;
}

.about-row-5-col-1 {
    width: 45%;
}

.about-row-5-col-1 h4 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.about-row-5-col-1 h4 span {
    color: #F5A134;
}

.about-row-5-col-1 p {
    font-size: 13px;
    line-height: 1.7;
    color: #666;
}

.about-row-5-col-2 {
    width: 50%;
}

.about-row-5-col-2 img {
    width: 100%;
    height: auto;
}


/*
   ROW 6
 */

.about-row-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 80px;
    gap: 60px;
}

.about-row-6-col-1 {
    width: 50%;
}

.about-row-6-col-1 img {
    width: 100%;
    height: auto;
}

.about-row-6-col-2 {
    width: 45%;
}

.about-row-6-col-2 h4 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.about-row-6-col-2 h4 span {
    color: #F5A134;
}

.about-row-6-col-2 p {
    font-size: 13px;
    line-height: 1.7;
    color: #666;
}


/* 
   SEE MORE BUTTON
*/

.about-row-btn {
    text-align: center;
    margin-top: 70px;
}

.about-row-btn button {
    padding: 12px 25px;

    border: 1px solid #F5A134;
    border-radius: 25px;

    background-color: white;

    color: #F5A134;

    cursor: pointer;
}


/* 
   ROW 7
 */

.about-row-7 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 80px;
    gap: 60px;
}

.about-row-7 > div {
    width: 45%;
}


/* LOGOS */

.about-row-7 img {
    max-width: 130px;
    margin: 15px;
}


/* INTEGRATION CONTENT */

.about-row-7 h4 {
    font-size: 20px;
    line-height: 1.5;

    margin-top: 20px;
}

.about-row-7 p {
    font-size: 13px;
    line-height: 1.7;

    color: #666;

    margin-top: 15px;
}

.about-row-7 button {
    margin-top: 20px;

    padding: 12px 25px;

    border: 1px solid #F5A134;
    border-radius: 25px;

    background-color: white;

    color: #F5A134;
}


/* 
   ROW 8
*/

.about-row-8 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 100px;
    gap: 60px;
}


/* LEFT */

.about-row-8-col-1 {
    width: 45%;
}

.about-row-8-col-1 h4 {
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.about-row-8-col-1 p {
    font-size: 13px;
    line-height: 1.7;

    color: #666;

    margin-bottom: 15px;
}

.about-row-8-col-1 button {
    margin-top: 10px;

    padding: 12px 25px;

    border: 1px solid #F5A134;
    border-radius: 25px;

    background-color: white;

    color: #F5A134;
}


/* RIGHT */

.about-row-8-col-2 {
    width: 50%;
}

.about-row-8-col-2 > div:first-child {
    width: 60%;
}

.about-row-8-col-2 > div:first-child img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/* TESTIMONIAL BOX */

.about-row-8-col-2 > div:last-child {
    background-color: white;

    padding: 25px;

    width: 90%;

    margin-top: -100px;
    margin-left: 30px;

    position: relative;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);

    border-radius: 10px;
}

.about-row-8-col-2 > div:last-child p {
    font-size: 12px;
    line-height: 1.8;

    color: #666;
}
.name-rate{
    display: flex;
    gap: 150px;
    margin-top: 15px;
    .name{
        margin-top: 10px;
    }
}



/* 
   ROW 9
*/

.about-row-9 {
    margin-top: 100px;
}


/* TITLE */

.about-row-9-R1 {
    text-align: center;
}

.about-row-9-R1 h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.about-row-9-R1 p {
    font-size: 13px;
    color: #666;
}


/*
   NEWS 
 */

.about-row-9-R2 {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    margin-top: 50px;
}


/* 
   LARGE NEWS
 */

.about-row-9-R2-col-1 {
    width: 45%;
}

.about-row-9-R2-col-1 img {
    width: 100%;
    height: 170px;

    object-fit: cover;

    border-radius: 8px;
}

.about-row-9-R2-col-1 button {
    margin-top: 15px;

    padding: 6px 18px;

    border: none;
    border-radius: 20px;

    background-color: #f5c15d;

    font-size: 10px;
}

.about-row-9-R2-col-1 h5 {
    font-size: 15px;

    line-height: 1.6;

    margin-top: 12px;
}

.about-row-9-R2-col-1 p {
    font-size: 12px;

    line-height: 1.7;

    color: #666;

    margin-top: 10px;
}


/* 
   SMALL NEWS AREA
 */

.about-row-9-R2-col-2 {
    width: 55%;
}


/* 
   NEWS 1
*/

.news-1 {
    display: flex;
    gap: 20px;

    margin-bottom: 25px;
}

.news-1 img {
    width: 140px;
    height: 100px;

    object-fit: cover;

    border-radius: 10px;
}

.news-1 h5 {
    font-size: 13px;
    line-height: 1.6;
}

.news-1 p {
    font-size: 12px;
    line-height: 1.6;

    color: #666;

    margin-top: 8px;
}


/*
   NEWS 2
*/

.news-2 {
    display: flex;
    gap: 20px;

    margin-bottom: 25px;
}

.news-2 img {
    width: 140px;
    height: 100px;

    object-fit: cover;

    border-radius: 10px;
}

.news-2 h5 {
    font-size: 13px;
    line-height: 1.6;
}

.news-2 p {
    font-size: 12px;
    line-height: 1.6;

    color: #666;

    margin-top: 8px;
}


/* 
   NEWS 3
*/

.news-3 {
    display: flex;
    gap: 20px;

    margin-bottom: 25px;
}

.news-3 img {
    width: 140px;
    height: 100px;

    object-fit: cover;

    border-radius: 10px;
}

.news-3 h5 {
    font-size: 13px;
    line-height: 1.6;
}

.news-3 p {
    font-size: 12px;
    line-height: 1.6;

    color: #666;

    margin-top: 8px;
}

/* 
   FOOTER
 */

.footer {
    background-color: #252842;

    min-height: 290px;

    padding: 35px 20px;

    text-align: center;

    color: #b8b9cc;
}


/* LOGO */

.footer-logo {
    display: flex;

    justify-content: center;

    align-items: center;

    gap: 20px;
}

.footer-logo div {
    display: flex;

    align-items: center;

    gap: 5px;

    border-right: 1px solid #555870;

    padding-right: 20px;
}

.footer-logo img {
    width: 40px;
    height: 40px;
}

.footer-logo strong {
    color: white;

    font-size: 18px;
}

.footer-logo span {
    color: white;

    font-size: 12px;

    text-align: left;

    line-height: 1.4;
}


/* NEWSLETTER */

.newsletter {
    margin-top: 50px;
}

.newsletter p {
    font-size: 14px;

    margin-bottom: 10px;
}


/* INPUT BUTTON */

.subscribe {
    display: flex;

    justify-content: center;

    gap: 10px;
}

.subscribe input {
    width: 200px;

    padding: 10px 15px;

    border: 1px solid #555870;

    border-radius: 25px;

    background-color: transparent;

    color: white;

    outline: none;
}

.subscribe input::placeholder {
    color: #85869a;
}

.subscribe button {
    padding: 10px 20px;

    border: none;

    border-radius: 25px;

    background-color: #4b4bd8;

    color: white;

    cursor: pointer;
}


/* LINKS */

.footer-links {
    display: flex;

    justify-content: center;

    gap: 10px;

    margin-top: 48px;

    font-size: 12px;
}

.footer-links a {
    color: #b8b9cc;

    text-decoration: none;
}


/* COPYRIGHT */

.copyright {
    margin-top: 15px;

    font-size: 12px;
}


