@use "../abstracts/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: $primary-color;
}

a {
    color: $black;
    text-decoration: none;
}