
@use '../abstracts/mixins' as *;
@use "../abstracts/variables" as *;
.btn {
   @include flex-Center;
  gap: 20px;

  button {
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;

  }
  &:hover{
 transform: translateY(-5px);
}
  }
  

   
.btn-1 {
  background-color: white;
  color: $gray-text;
  font-size: 1rem;
  font-weight: 400;
}

.btn-2 {
  background-color: $secondary-color;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}