$primary-color: #303080;
$secondary-color: #ff9500;

$background-color: #fff3e4;

$text-color: #666;
$dark-text: #30304d;

$white: #ffffff;
$black: #000000;

$blue: #20aee5;
$pink: #d8587e;

$footer-background: #252842;
$footer-text: #b8b9cc;

$border-color: #555870;

$accent-color: #f5a134;